.list {
  background-color: rgb(89, 132, 212);
  width: 100%;
  align-items: center;
  justify-items: center;
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-bottom-color: rgb(72, 111, 185);
  margin-top: 20px;
}

/* Когда-нибудь имплеминтирую */
.listDragOver {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 150px;
  height: 100px;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: rgba(255,255,255,1);
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 1px 18px 3px rgba(0,150,255,0.91) inset;
  box-shadow: 0 1px 18px 3px rgba(0,150,255,0.91) inset;
  cursor: move;
}